:root {
  --main-color: #264653;
  --sec-color: #2a9d8f;
  --ter-color: #e9c46a;
  --warn-color: #f4a261;
  --err-color: #e76f51;
  --suc-color: #6fce77;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.table {
  border: 5px solid var(--main-color);
  display: flex;
  flex-direction: column;

  width: 800px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 5px var(--main-color);
  transition: border 0.2s ease-out;
}

.table img {
  max-width: 200px;
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.head {
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
  user-select: none;
  position: relative;
}

.head .button {
  position: absolute;
  padding: 0;
  right: 0.25em;
  top: 0.2em;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;

  background-image: url("data:image/png; base64, iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABv0lEQVRoge2YPU7DQBBGZ6gRLeIERBGX4KeDiLPAGQBRUQXOgQSUBA5AGSFxARRT4vSPIo4U1kuw9y8G7auilWfzvWy8O7ZIJpNxAjgGnoEpq2cKPAGDthKXKw6+jHNbZrWthIjcuq1jMgaqer84sGa56CRRGB9OzQHbipQisp4kjjulqm4sDthESJfHHVX9lt321/qTZJGukUW6RgiRGxEpPOqLao6wtGwXhlVNH5g4tBsToF/NMWxTGFqkAHaqum3g3bG217I2uIgZqKmMlwTEETGD/SbjLQHxRMyAP8kEkYC4ImZQUyaYBMQXMQPPZYJKQF0kVvdbiMieqr5Sba8Ln0cisun7BWb3G7ON/xCRfVUdV/P2ZCaxFWLyVbbxUZ9zYokUIrKrqmNmp35fVd9E5ED82pnm+N6E2G9snw7ASmyRZbtTUJmYIk222GAysUTanBNBZGKIuBx23jKhRXxObC+Z0CL/5sEK4Bo3iTmTao5WmLnzm8aukUW6RhbpGjaRafIU7fk0B2wiLwmC+FLLaBO5ShDEl1rGmoiq3onIRZI4bpyp6kPjq4EjYASUHu1HKErgETiM+ANlMv+aL1wTNja2EnlpAAAAAElFTkSuQmCC");
}

.head .button:hover {
  transform: scale(1.1);
}

.head:hover {
  background-color: var(--sec-color);
  cursor: move;

}

.table.dragging {
  opacity: .9;
  border: 5px solid var(--sec-color);
}

.row {
  display: flex;
  border-top: 2px solid #fff;
  background-color: #999;
}

.cell {
  flex: 3;
  background-color: #999;
  border: none;
  border-right: 2px solid #fff;
  padding: 0.5em;
  width: 100%;
  font-weight: 1.5em;
}

.row .cell:first-of-type {
  background-color: var(--main-color);
  color: #fff;
  flex: 1;

  min-width: 300px;
}

.row .cell:hover:first-of-type:not(.cell:last-of-type) {
  background-color: var(--sec-color) !important;
  cursor: pointer;
}

.row .cell :active {
  background-color: #fff !important;
  color: var(--main-color) !important;
}

.cell-hover {
  background-color: var(--sec-color) !important;
}

.cell-down {
  background-color: #fff !important;
  color: var(--main-color) !important;
}

.row .cell:last-of-type {
  border: none;
}



.table .button-down {
  background-color: #fff;
}

.table .button-hover {
  color: #000;
}

.table .invisible-data {
  visibility: hidden;
}

.content-window-line-container {
  padding: 0;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;

}

.content-window-line-container.hidden {
  display: none;

}

.content-window-line-container .content-window-line {
  stroke-width: 5;
  stroke-linecap: round;
  stroke: #000;
  ;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#test {
  width: 300px;
  height: 400px;
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.2em;
  background-color: #333;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

#test nav {
  display: flex;
  padding: 0;
  height: 100%;
  max-height: 75px;
  border-top: 1px solid #333;
}

#test nav button {
  flex: 1;
  border: none;
  box-sizing: content-box;
  background-color: #fff;
}

#test nav button.menu-active {
  background-color: #ccc;
}

#test nav button:last-of-type {
  border-right: none;
}

#test nav .btn-hover {
  background-color: gray;
}

#test nav .btn-click {
  background-color: #333;
  color: #fff;
}

#test .btn-init {
  background-color: rgb(255, 0, 234);
  border: 1px dashed #333;
}

#test .btn-active {
  background-color: rgb(0, 255, 0);
}

#test .radio {
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

#test .radio::before {
  position: absolute;
  content: attr(data-label);
  left: 80px;
  width: 100px;
}

#test .radio-hover {
  border: 1px solid #f00;
}

#test .radio-active::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#test div div {
  border: 2px solid #333;
  padding: 0.2em;
  margin: 0.5em;
  display: flex;
}

#test div div h3 {
  flex: 2;
}

#test section section div {
  margin-bottom: 0.5em;
}

#test div button {
  padding: 0.2em;
  min-width: 50px;
  flex: 1;
}

#test h2 {
  font-size: 2em;
}

#test .page {
  height: 100%;

  flex: 2;
  display: none;
  background-color: white;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1em;
}

#test .infos {
  margin-bottom: 1em;
}

#test .page.active {
  display: block;
}

#test #page3 button {
  border: 1px solid #ccc;
}

.btn-hover {
  background-color: gray;
}

/*override*/
main {
  width: 100vw;
  height: 100vh;
}

.controls {
  position: fixed;
  z-index: 1000;
  width: 300px;
  color: #fff;
  height: 100vh;
  background-color: var(--main-color);
  border-right: 2px solid var(--sec-color);
  left: 0;
  transition: all 0.5s ease-out;
  padding: 1em;
}

.controls.closed {
  left: -300px;
}

.controls h2 {
  text-align: center;
  margin-bottom: 1em;

  font-size: 2em;
}

.controls .controls-options {
  position: absolute;
  bottom: 0;
  height: 3em;
  left: 0;
  width: 100%;
  display: flex;
}


.controls .controls-options button {
  width: 100%;
  border: none;
  padding: 1em 0;
  background-color: var(--sec-color);

  border-top: 2px solid var(--sec-color);
}

.controls .controls-options button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.controls nav {
  position: absolute;
  bottom: 3em;
  left: 0;
  display: flex;
  height: 2em;
  width: 100%;
}

.controls nav button {
  height: 100%;
  width: 100%;
  border: none;
  border-top: 2px solid var(--sec-color);
}

.controls nav button.active {
  background-color: var(--main-color);
  color: #fff;
}

.controls .trigger {
  font-size: 1em;
  content: 'X';
  position: absolute;
  right: -3em;
  top: 1em;
  width: 3em;
  height: 3em;
  background-color: var(--main-color);
  border-color: var(--sec-color);
  border-style: solid;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-out;

}

.controls .trigger .icon {
  width: 80%;
  height: 80%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAAgElEQVRIie3RTQqAIBCGYe+Txylc1GFadueCt02ChH+D2qb5doIfDzNjjEbzvwDT8A6wAxewCToLcAKHBPGpwgLEJ48B9lXgebtMxyU6toTNkWJ0ssgk/u9a2kI11ozUYN2QAEvtX3THlsn6TCLA+iEZrD8SwcYhAeaaD6/RfJIb4/y0+CfpwpYAAAAASUVORK5CYII=');
  transition: all 0.2s ease-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: center center;
  transform: rotateZ(90deg);
}

.controls.closed .trigger .icon {
  transform: rotateZ(-90deg) translateY(5px);
}

.controls .trigger:hover .icon {
  transform: rotateZ(90deg) translateY(5px);
}

.controls.closed .trigger:hover .icon {
  transform: rotateZ(-90deg) translateY(10px);
}

.positions-list li {
  padding: 0.25em;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.positions-list li:hover {
  margin-left: 1em;
}

.tree-list.list_0i0 {
  overflow-y: auto;
  min-height: 200px;
  max-height: calc(100% - 10em);
}


.tree-list.list_0i0::-webkit-scrollbar {
  width: .7em;
}

.tree-list.list_0i0::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  outline: 1px solid #fff;
}

.tree-list.list_0i0::-webkit-scrollbar-thumb {
  background-color: var(--sec-color);


}

.tree-list {
  list-style-type: none;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.25em 0;
  font-size: .9em;
}

.tree-list div {
  display: inline-block;
  top: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;

}


.tree-list .chevron {
  display: inline-block;
  transform: rotateZ(-90deg) translateY(1px) translateX(-3px);
  background-size: contain;
  transition: all 0.1s ease-out;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAAgElEQVRIie3RTQqAIBCGYe+Txylc1GFadueCt02ChH+D2qb5doIfDzNjjEbzvwDT8A6wAxewCToLcAKHBPGpwgLEJ48B9lXgebtMxyU6toTNkWJ0ssgk/u9a2kI11ozUYN2QAEvtX3THlsn6TCLA+iEZrD8SwcYhAeaaD6/RfJIb4/y0+CfpwpYAAAAASUVORK5CYII=');
}

.tree-list .chevron:hover {
  transform: scale(0.9) rotateZ(-90deg) translateY(1px) translateX(-3px);
}

.tree-list .chevron.open:hover {
  transform: scale(0.9) translateX(1px) translateY(3px);
}

.tree-list .chevron.open {
  transform: scale(1) rotateZ(0) translateX(1px) translateY(3px);
}

.tree-list.visible span {
  text-decoration: none;
  color: #fff;
}

.tree-list.invisible span {
  font-style: italic;
  color: #cfcfcf;
}

.tree-list span.item-visible {
  text-decoration: initial;
  font-weight: 600;
}

.tree-list span.item-invisible {
  text-decoration: line-through;
  font-weight: normal;
}

.tree-list span {
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  padding-left: 0.2em;
}

.tree-list span:hover {
  color: #999;
}

.tree-list span.parentHidden:hover {
  color: #333;
}

.tree-list .tree-list {
  margin-left: 0.5em;
  border-left: 1px dashed #999;
}

.tree-list .hidden {
  display: none;
}

/*left controls*/